button {
  font-family: "Bitter", serif;
  background-color: #fff;
  border-radius: 4px;
  color: #5c1f87;
  padding: 14px 16px;
  margin: 0 12px 10px 0;
  display: inline-block;
  text-decoration: none; color: #5c1f87;
}
